* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background: rgb(193, 192, 194);
    background: radial-gradient(circle, rgb(199, 197, 201) 0%, rgb(152, 154, 158) 44%, rgba(27, 44, 63, 1) 86%);
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.container {
    display: block;
}
.form {
    padding: 10px 20px;
}
.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}
.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}